@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;1,400;1,700&display=swap" rel="stylesheet');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat-Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: Montserrat-Regular;
  src: url('../src/assets/fonts/Montserrat-Regular.woff2');
  font-weight: normal;
}
.text-cclor{
  color: hsla(241, 35%, 51%, 1);
}
.button-color{
  background: linear-gradient(98.94deg, #8c8bda 12.63%, #d6d4fd 123.91%);
}
.gradient-bg-hero {
  background-color: rgb(255, 255, 255);

  background-image: radial-gradient(
      at 0% 0%,
      hsl(185, 35%, 72%) 0,
      transparent 60%
    ),
    radial-gradient(
      at 100% 100%,
      hsl(237, 53%, 74%) 0,
      transparent 60%
    ),
    radial-gradient(at 50% 0%, hsl(0, 0%, 100%) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(255, 255, 255) 0, transparent 50%);
}
.gradient-bg-what {
  background-color: #ffffff;
  background-image: radial-gradient(
      at 100% 100%,
      hsl(237, 53%, 74%) 0,
      transparent 60%
    ),
    radial-gradient(at 0% 0%, rgb(255, 255, 255) 0, transparent 20%),
    radial-gradient(at 50% 50%, rgb(255, 255, 255) 0, transparent 50%);
}
.gradient-bg-artworks {
  background-color: #ffffff;
  background-image: radial-gradient(
      at 100% 0%,
      hsl(237, 53%, 74%) 0,
      transparent 60%
    ),
    radial-gradient(at 0% 0%, rgb(255, 255, 255) 0, transparent 20%),
    radial-gradient(at 50% 50%, rgb(255, 255, 255) 0, transparent 50%);
}

.gradient-bg-footer {
  background-color: #151c25;
  background-image: radial-gradient(
      at 0% 100%,
      hsl(0deg 39% 30%) 0,
      transparent 53%
    ),
    radial-gradient(at 50% 150%, hsla(339, 49%, 30%, 1) 0, transparent 50%);
}
.member-img{
  
  height: 150px;
  width: 150px;
}
.member-bg{
  height: 300px;
  width:400px;

 
  border-radius: 24px;
  position: relative;
}
.bg-cc{
  background: linear-gradient(208.66deg, rgba(140, 139, 218, 0.8) -8.86%, rgba(159, 198, 200, 0.8) 161.81%);
border-radius: 24px;

}
.text-gradient {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;